@import url("./style.css");
body{
  height: 100vh !important;
}
.formulario{
width: clamp(400px, 50%, 600px) !important;
background-color: whitesmoke;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.btn-entrar{
    background-color: var(--secundary-color);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
.btn-entrar:hover{
    background-color: cadetblue;
    color: wheat;
}
ul{
    list-style-type: none;
}
.olho{
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
}
@media  screen and (min-width: 768px) {
    [senha]::placeholder{
   font-size: 1.3rem;
    } 
}
