
body{
    background: url("/assets/img/fundo-login.jpeg") no-repeat;
    background-position: center;
    background-size: cover; 
}
.formulario{
width: clamp(400px, 50%, 600px) !important;
background-color: whitesmoke;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.btn-entrar{
    background-color: var(--secundary-color);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
.btn-entrar:hover{
    background-color: cadetblue;
    color: wheat;
}
ul{
    list-style-type: none;
}