@import url("./cadastro.css");
:root{
    --primary-color: aqua;
    --secundary-color: rgb(6, 109, 109);
    --cinza-claro: #A4907C;
    --bege-claro-font: #F1DEC9;
}
a{
    text-decoration:none ;
}
body{
    width:  99.2vw;
    background: url("/assets/img/fundo-login.jpeg") no-repeat;
    background-position: center;
    background-size: cover; 
}
#botao{
    position: absolute;
}
.formulario-minhaConta{
    width: clamp(300px, 80%, 1000px) !important;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.nav__logo{
    height: 50px;
    overflow: hidden;
}
.nav__logo-img{
    top: -36px;
    position: relative;
}
.offcanvas{
    background-color: var(--cinza-claro);
}
.offcanvas__link{
    padding-left: 20px;
    width: 100%;
    color: var(--bege-claro-font);
    text-decoration: none;
    background-color: var(--cinza-claro);
    font-size: 1.5rem;
    margin-bottom: 5px;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}
.offcanvas__link:hover{
    color: gray;
    background-color: white;
}
.offcanvas__link-item{
    padding-left: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    color: var(--bege-claro-font);
    text-decoration: none;
    background-color: var(--cinza-claro);
    font-size: 1.3rem;
    margin-bottom: 5px;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}
.offcanvas__link-item:hover{
    color: gray;
    background-color: white;
}
.footer{
    background-color: var(--cinza-claro);
    color: #F1DEC9;
}
.banners{
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}
.banner-1{
    background-image: url(../assets/img/Designer.jpeg);
}
.banner-titulo{
    background-color: rgb(255, 247, 233, 0.4) ;
}
.cards__font-pequena{
    font-size: 0.8rem;
}

.row{
    display: flex;
}
.swiper{
    width: 90%;
}

.desconto_porcentagem{
    font-size: 0.9rem;
    width:25% !important;
    font-weight: bold;
}
.card-destino{
    height: min-content;
}
.accordion-body{
    background-color: var(--cinza-claro);
}
.olho{
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
}
.imagemPerfil{
    height: 180px;
    width:  180px;
    border-radius: 90px;
    font-size: 170px;
    padding-left: 1px;
    overflow: hidden; 
}

.botaoCamera{
    height: 60px;
    width:  60px;
    border-radius: 60px;
    font-size: 35px;
   
}
.imagemPerfil video, img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 210px;
    object-fit: cover; 
}

@media  screen and (min-width: 768px) {
    [senha]::placeholder{
   font-size: 1.3rem;
    } 
}


@media screen and (max-width: 992px) {
    .desconto_porcentagem{
        font-size: 0.85rem;
        width:30% !important;
    }
}
@media screen and (max-width: 576px) {
    .desconto_porcentagem{
        font-size: 0.75rem;
        width:35% !important;
    }
    .imagemPerfil{
        height: 130px;
        width:  130px;
        border-radius: 70px;
        font-size: 120px;
    }
    .imagemPerfil video{
        height: 160px;
        width:  160px;
        border-radius: 70px;
        font-size: 120px;
    }
    .botaoCamera{height: 60px;
        width:  60px;
        height: 50px;
        width:  50px;
        font-size: 30px;
    }
}