<footer class="footer ">
    <ul class="d-flex justify-content-center gap-5 py-2">
      <li>
        <a href="mailto:nevesdev.ti@gmail.com" class="btn"><i class="bi bi-envelope fs-1"></i></a>
      </li>
      <li>
        <a href="https://github.com/Artur-Neves" class="btn"
          ><i class="bi bi-github text-dark fs-1"></i
        ></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/artur-neves-ba033a257" class="btn"
          ><i class="bi bi-linkedin text-dark fs-1"></i
        ></a>
      </li>
    </ul>
    <p class="pb-3 text-center m-0">
      2024 <i class="bi bi-c-circle"></i> Desenvolvido por Artur Neves |
      Projeto fictício sem fins comerciais.
    </p>
  </footer>