<header>
    <nav class="navbar w-100 navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <h1 class="nav__logo">
            <img
              class="nav__logo-img"
              src="./assets/img/Logo_Original-Cortado-Tamanho-Pequeno.png"
              alt="Logo do site"
            />
          </h1>
        </a>
        <div class="nav-item d-flex gap-3 text-center">
          <a
            class="nav-link fs-1 d-lg-none"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
            href="#"
            ><i class="bi bi-person-circle"></i
          ></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            button-hamburgier
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div
          class="collapse navbar-collapse flex-column-reverse flex-lg-row"
          id="navbarSupportedContent"
        >
          <form class="d-flex ms-auto w-75" role="search">
            <div class="input-group">
              <input
                class="form-control"
                type="search"
                placeholder="Busque pelo nome do Hotel"
                aria-label="Search"
              />
              <button class="btn btn-outline-info" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
          <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
            <li class="nav-item py-lg-3">
              <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
            </li>
            
            <li class="nav-item py-lg-2 d-none d-lg-flex">
              <a
                class="nav-link fs-3 mx-2"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight"
                href="#"
                ><i class="bi bi-person-circle"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class="offcanvas-conta">
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
    >
      <div class="offcanvas-header pt-4" >
          <img
              class="py-0"
              src="./assets/img/Logo_Original-Cortado-Tamanho-Pequeno.png"
              alt="Logo do site"
            />
       
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body px-1 d-flex flex-column">
        <div class="accordion " id="accordionExample">
          <div class="accordion-item border border-0">
            <h2 class="accordion-header align-items-center text-start">
              <button class="accordion-button collapsed  d-flex  flex-row m-0 offcanvas__link py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Minha Conta
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body p-0">
                <ul class="menu__list ps-0 m-0  "  id="funcionalidades_conta">
                  <li class="menu__list-item "><a href="./formularioMinhaConta.html" class="menu__list-link  offcanvas__link-item">Conta</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <a href="./login.html" class="offcanvas__link py-4" id="logout" >Logout</a>
      </div>
    </div>

  </section>